@import "../../reusable_styles/ColorPalette.scss";
@import "../../reusable_styles/FontsStyles.scss";

.blogSection {
	display: flex;
	background-color: $thirdColor;
	margin: 100px auto;
	justify-self: center;
	border-radius: 20px;
	border: 1px solid $primaryColor;
	width: 100%;
	height: 600px;
	justify-content: center;

	.blogWindow {
		display: flex;
		width: 100%;
		height: 100%;
		justify-content: center;
		align-items: end;
		flex-direction: column;

		.blogHeader {
			margin: auto;
			color: $primaryColor;
			display: flex;
			font-size: $headerFontSize;
			align-self: flex-start;
			height: 20%;
			width: 90%;
			justify-content: center;
			align-items: center;
		}

		.textOfBlog {
			display: flex;
			margin: 20px 20px;
			border-radius: 20px;
			background-color: $secondaryColor;
			justify-content: center;
			height: 80%;
			width: 90%;
			align-self: center;
		}
	}
}
