@import "../../reusable_styles/ColorPalette.scss";
@import "../../reusable_styles/FontsStyles.scss";

.footerSection {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 100px auto;
	color: $primaryColor;
	height: 300px;
	width: 80%;
	.footerIcons {
		display: flex;
		.socialIcon {
			display: flex;
			border: solid 2px $primaryColor;
			margin: 50px;
			align-content: center;
			width: 100px;
			height: 100px;
		}
	}
}
