// FONT SIZE SYSTEM (px)
// 10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
// */

// Header
$headerFontSize: 52px;

// Text
$textFontSize: 36px;

// Buttons
$buttonFontSize: 44px;
